127.0.0.1 localhost puppet.sriram.in
35.154.184.69 puppetmaster.sriram.in

<% @servername.each do |name| -%>
127.0.0.1  <%= name['hostname']  %> 
<% end -%>



# The following lines are desirable for IPv6 capable hosts
::1 ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
ff02::3 ip6-allhosts
